@charset "utf-8";



:root{
  --main-font: 'Geometos', sans-serif;
  --sub-font: 'Noto Sans KR', sans-serif;
  --main-color: #B9860B;
  --sub-color1: #2F4858;
  --sub-color2: #9E2A43;
}



body{font-family: 'Geometos', 'Noto Sans KR', sans-serif; line-height: 1.5; color: #000;}
.inner{max-width: 1700px; margin: 0 auto; padding: 0 5%;}


/* header */
#header{transition: all 1s; position: absolute; left: 0; top: 0; width: 100%; height: 91px; z-index: 9999999; background: #fff;}
#header.fix{position: fixed;}
#header .inner{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
#header .gnb{display: flex;}
#header .gnb > li > a{display: block; font-size: 2.1rem; padding: 30px 20px;}
#header .inner .until{display: inline-block; padding: 10px 20px; border-radius: 50px; background: var(--sub-color1);
color: #fff; font-size: 1.6rem;}
/* depth2*/

#header .gnb .depth2{ font-size: 1.6rem; color: #000; text-align: center; font-family: 'Noto Sans KR';}
#header .gnb > li{position: relative;}
#header .gnb > li .depth2{display: block; position: absolute; left: 0; width: 100%; padding: 20px 10px 0; 
z-index: 100; display: none;}
#header .gnb > li .depth2 li{padding: 5px;}
#header .gnb .depth2 li:hover a{text-decoration: underline;}

#header .depth2_bg{border-top: 1px solid #000; position: absolute; left: 0; top: 91px; background: #fff; 
width: 100%; height: 210px; z-index: 20; display: none;}

#header .btn_ham{border: 0; width: 24px; height: 24px; font-size: 0; background: url(../img/common/icon_menu.svg)
no-repeat center; cursor: pointer; display: none;}

/* mgnb_wrap */
#header .mgnb_wrap{position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
#header .mgnb_wrap .mgnb{position: absolute; top: 0; right: -100%; width: 100%; height: 100%; background: #fff; 
padding: 100px 10%;}
#header .mgnb_wrap .mgnb img{position: absolute; left: 60px; top: 20px;}
#header .mgnb_wrap .mgnb > ul > li > a{font-size: 2.2rem; display: block; border-bottom: 1px solid #000;border-top: 1px solid #fff;
padding: 20px 0;}
#header .mgnb_wrap .mgnb > ul > li .mdepth2{padding: 10px 20px;}
#header .mgnb_wrap .mgnb > ul > li .mdepth2 li a{font-size: 1.4rem; color: #000; position: relative; padding-left: 15px;
font-family: var(--sub-font);}
#header .mgnb_wrap .mgnb > ul > li .mdepth2 li a::before{content: ''; display: block; width: 5px; height: 5px;
background: #999; border-radius: 50%; position: absolute; left: 0; top: 7px;}
#header .mgnb_wrap .mgnb_close{position: absolute; right: 60px; top: 30px; width: 30px; height: 30px; background: #fff
url(../img/common/icon_close.svg) no-repeat center / cover; font-size: 0; cursor: pointer;}


@media(max-width:1414px){
  #header{padding: 20px 0;}
  #header .gnb{display: none;}
  #header .inner .until{display: none;}
  #header .btn_ham{display: block;}
 }


@media(max-width:1200px){
  #header .inner .until{display: none;}
  #header .btn_ham{display: block;}
 }



/* main_visual */
#main_visual .mb{position: relative;}
#main_visual .mb .mb1{display: flex; align-items: center; height: 950px; background: url(../img/common/main_visual1.jpg) 
no-repeat center / cover; flex-wrap: wrap;}
#main_visual .mb .mb2{display: flex; align-items: center; height: 950px; background: url(../img/common/main_visual2.jpg) 
no-repeat center / cover;}
#main_visual .mb .mb3{display: flex; align-items: center; height: 950px; background: url(../img/common/main_visual3.jpg) 
no-repeat center / cover;}
#main_visual .mb_txt{ position: absolute; left: 50%; transform: translateX(-50%); bottom: 50%; text-align: center;}
#main_visual .mb_txt h2{font-size: 2.5rem; color: #fff;}
#main_visual .mb_txt p{font-size: 4rem; color: var(--sub-color1); padding: 0 0 30px; font-weight: bold;  }
#main_visual .mb_txt .btn_more{display: inline-block; padding: 10px 40px; background: var(--sub-color2); color: #fff; font-size: 2rem;
text-align: center; font-family:  var(--sub-font);}
#main_visual .mb_control{position: absolute; left: 50%; transform: translateX(-50%); bottom: 40px; display: flex; align-items: center;
z-index: 10; gap: 20px;}
#main_visual .swiper-button-prev{position: static; width: 34px; height: 13px; color: transparent; background: url(../img/sub/btn_prev.png)
no-repeat center; margin: 0;}
#main_visual .swiper-button-next{position: static; width: 34px; height: 13px; color: transparent; background: url(../img/sub/btn_next.png)
no-repeat center; margin: 0;}
#main_visual .swiper-pagination{position: static; width: auto;}
#main_visual .swiper-pagination-fraction{font-family: var(--sub-font); font-size: 1.4rem;}
#main_visual .mb_play, .mb_pause{font-size: 2.5rem; cursor: pointer;}

@media(max-width:1024px){
  #main_visual .mb_txt h2{font-size: 2rem;}
  #main_visual .mb_txt p{font-size: 3.5rem;}
 }

 @media(max-width:768px){
  #main_visual .mb_txt h2{font-size: 1.6rem;}
  #main_visual .mb_txt p{font-size: 2.5rem;}
 }


/* best_menu */
#best_menu{padding: 150px 0; }
#best_menu .menu_txt{display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; padding-bottom: 50px;}
#best_menu h2 {font-size: 10rem; color: var(--sub-color1);}
#best_menu .menu_list{display: flex; flex-wrap: wrap; gap: 50px;}
#best_menu .menu_list > li > span{font-size: 2.5rem; font-family: var(--sub-font); cursor: pointer;}
#best_menu .menu_list > li.active span{display:inline-block; padding: 5px 20px; border-radius: 30px;
background: var(--sub-color2);  text-align: center; color: #fff;}
#best_menu .menu_box > li{display: none; }
#best_menu .menu_box > li.active{display: block; }
#best_menu .menu_img img{width: 80%;}
#best_menu .menu_img span {display: block; text-align: center;}
#best_menu .menu_img a {display: block; text-align: center;}
#best_menu .menu_img a h3{font-size: 2rem; padding: 20px 0 10px; font-weight: 700;}
#best_menu .menu_img a p{font-size: 1.6rem;}
#best_menu .swiper-button-next{display: flex; width: 80px; height: 80px; border-radius: 50%; background: var(--sub-color1);
color: #fff; align-items: center; position: absolute; right: 30%;}
#best_menu .swiper-button-prev{display: flex; width: 80px; height: 80px; border-radius: 50%; background: var(--sub-color1);
color: #fff; align-items: center; position: absolute; left: 30%;}

@media(max-width:1444px){
  #best_menu h2 {font-size: 7rem}
  #best_menu .menu_list > li > a{font-size: 2rem;}
  #best_menu .menu_list{gap: 30px;}
  #best_menu .menu_img img{width: 70%;}
 }

 @media(max-width:1250px){
  #best_menu .menu_img a p{display: none;}
 }


 @media(max-width:1064px){
  #best_menu h2 {font-size: 5rem}
  #best_menu .menu_list{gap: 20px;}
  #best_menu .menu_list > li span{font-size: 1.8rem;}
  #best_menu .menu_img a h3{font-size: 1.6rem;}
  #best_menu .menu_img a p{display: none;}
 }

 @media(max-width:842px){
  #best_menu .menu_txt{padding-bottom: 10px; }
  #best_menu .swiper-button-next{width: 60px; height: 60px;}
  #best_menu .swiper-button-prev{width: 60px; height: 60px;}
  #best_menu .swiper-button-prev:after{font-size: 3.5rem;}
  #best_menu .swiper-button-next:after{font-size: 3.5rem;}
 }

 @media(max-width:768px){
  #best_menu .menu_txt{padding-bottom: 10px;}
  #best_menu .menu_img img{width: 50%;}
  #best_menu .swiper-button-next{width: 50px; height: 50px; right: 15%;}
  #best_menu .swiper-button-prev{width: 50px; height: 50px; left: 15%;}
  #best_menu .swiper-button-prev:after{font-size: 3rem;}
  #best_menu .swiper-button-next:after{font-size: 3rem;}
 }

 @media(max-width:428px){
  #best_menu .menu_list > li span{font-size: 1.4rem;}
  #best_menu .menu_img a h3{font-size: 1.4rem;}
 }

/* event */
#event .event_list ul{display: flex; flex-wrap: wrap; text-align: center;}
#event .event_list ul > li{position: relative;}
#event .event_list ul > li:nth-child(1){width: calc(100% / 3); height: 980px; background: url(../img/common/event1.png)
no-repeat center / cover;}
#event .event_list ul > li:nth-child(2){width: calc(100% / 3); height: 980px; background: url(../img/common/event2.png)
no-repeat center / cover;}
#event .event_list ul > li:nth-child(3){width: calc(100% / 3); height: 980px; background: url(../img/common/event3.png)
no-repeat center / cover;}
#event .event_list ul > li .txt{position: absolute; left: 50%; transform: translateX(-50%); top: 50%;
color: #fff; font-family: var(--sub-font);}
#event .event_list ul > li .txt h3{font-size: 5rem; font-weight: bold;}
#event .event_list ul > li .txt p{font-size: 1.8rem;}
#event .event_list ul li:hover::before{ width: 100%; height: 100%; content: ''; position: absolute; left: 0; top: 0; 
background:rgba(0,0,0,0.6); transition: all 0.5s;} 

@media(max-width:1024px){
  #event .event_list ul > li:nth-child(1){width: 100%; height: 640px;}
  #event .event_list ul > li:nth-child(2){width: 100%; height: 640px;}
  #event .event_list ul > li:nth-child(3){width: 100%; height: 640px;}
  #event .event_list ul > li .txt h3{font-size: 4rem;}
#event .event_list ul > li .txt p{font-size: 1.6rem;}
 }
 @media(max-width:768px){
  #event .event_list ul > li:nth-child(1){width: 100%; height: 320px;}
  #event .event_list ul > li:nth-child(2){width: 100%; height: 320px;}
  #event .event_list ul > li:nth-child(3){width: 100%; height: 320px;}
  #event .event_list ul > li .txt h3{font-size: 3rem;}
#event .event_list ul > li .txt p{display: none;}
 }


/* sns */
#sns{padding: 150px 0; text-align: center;}
#sns .sns_txt{display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 30px; margin-bottom: 70px;}
#sns .sns_txt img{width: 50px; height: 50px;}
#sns .sns_txt h2{font-size: 5rem; color: var(--main-color);}
#sns .sns_img ul {display: flex;justify-content: center; gap: 30px;}
#sns .sns_img ul li{width: calc((100% - 60px) / 3);}
#sns .sns_img ul li a{display: block;}
#sns .sns_img ul li a img{width: 100%;}

@media(max-width:1400px){
  #sns .sns_img ul{gap: 30px;}
 }

@media(max-width:1024px){
  #sns .sns_txt h2{font-size: 4rem;}
  #sns .sns_txt img{width: 40px; height: 40px;}
  #sns .sns_img ul li a img{width: 100%;}
  #sns .sns_img ul {overflow-x: auto; justify-content: flex-start;}
  #sns .sns_img ul li{width:auto; flex-shrink: 0;}
 }

 @media(max-width:1024px){
  #sns .sns_txt h2{font-size: 3rem;}
  #sns .sns_txt img{width: 30px; height: 30px;}
 }

/* footer */
#footer{padding: 50px 0 100px; background: var(--sub-color1); font-family: var(--sub-font); position: relative;}
#footer .inner{text-align: center; color: #fff; font-size: 1.6rem;}
#footer .footer_link{display: flex; flex-wrap: wrap; justify-content: center; gap: 0 20px;}
#footer .footer_link li a{color: #fff;}
#footer .footer_link li{position: relative; margin-top: 20px;}
#footer .footer_link li::before{content: ''; display: block; width: 1px; height: 10px; background: #fff; position: absolute;
left: -10px; top: 8px;}
#footer .footer_link li:first-child::before{display: none;}
#footer address{padding: 10px 0;}
#footer address .tel{color: #fff; font-size: 1.6rem;}
#footer a{pointer-events: none;}
#footer .footer_sns{display: flex; gap: 20px; font-size: 3rem; position: absolute; left: 50%; transform: translateX(-50%);}
#footer .footer_sns li{margin-top: 10px;}
#footer .footer_sns li a{color: #fff; }

#footer .btn_top a{display: block; width: 40px; height: 40px; background:var(--sub-color2) url(../img/common/go_top.png) no-repeat center;
position: fixed; right: 20px; bottom: 5%; font-size: 0; z-index: 100;}
#footer select{width: 200px; height: 40px; background: var(--sub-color2); color: #fff; padding: 0 10px; position: absolute;
right: 12%; bottom: 16%;}


@media(max-width:1024px){
  #footer address .tel{font-size: 1.2rem;}
  #footer .inner{font-size: 1.2rem;}
  #footer select{display: none;}
}

@media(max-width:768px){
  #footer a{pointer-events: initial;}
}
